@model ForgotPasswordVM

<div class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap text-center">
                    <nav aria-label="breadcrumb">
                        <h1 class="breadcrumb-title">Forgot Password</h1>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Forgot Password</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="login-register-wrapper section-padding">
    <div class="container">
        <div class="member-area-from-wrap">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login-reg-form-wrap">
                        <h2>Forgot Password</h2>
                        <form method="post">
                            <div class="single-input-item">
                                <input asp-for="Email" placeholder="Enter your Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            @if (ViewBag.EmailSent != null)
                            {
                                <p>We've sent you an email. If you didn't get the email <button type="submit" class="text-warning">Resend</button> it. You better check the spam as well.</p>
                            }
                            else
                            {
                                <div class="single-input-item"><button type="submit" class="btn">Reset Password</button></div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @await Html.PartialAsync("_ValidationPartial")
}